/* male色域   background-color: rgb(144, 177, 240);*/


/* female色域 background: rgb(145, 107, 114); */


/* 文字淡黑色 color: rgb(88, 87, 87); */

body {
    margin: 0px;
    background-color: #00324E;
    display: block;
    overflow-y: scroll;
}

.top-bar-wrapper {
    background-color: #006AA6;
    width: 100%;
    top: 0;
    height: 48px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

.top-bar {
    width: 1260px;
    height: 100%;
    margin: auto;
    display: flex;
}

.logosearch {
    width: 880px;
    height: 100%;
    padding: 0px 16px;
    position: relative;
    left: 18px;
}

.logo {
    width: 75px;
    height: 48px;
    display: inline-block;
}

.dcard_logo img {
    margin: 0px auto;
    display: block;
    padding: 10px 0px;
}

.search-wrapper {
    width: 607px;
    height: 30px;
    padding: 0px 32px 0px 0px;
    display: inline-block;
    top: -9px;
    /* 搭配垂直置中使用 */
    position: relative;
    font-size: 14px;
}

.search {
    width: 614px;
    height: 30px;
    padding: 0px 32px;
}

.search-inp {
    width: 86%;
    height: 26px;
    border: 1px solid #00588A;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #00588A;
    position: absolute;
    top: 0px;
    font-size: 14px;
    color: white;
    font-family: Microsoft JhengHei;
    outline: none;
    padding-left: 8px;
}

.search-btn {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 593px;
    padding: 0px;
    border: 1px solid #00588A;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #006AA6;
    color: #ffffff;
    /* 輸入框樣式 */
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

 ::-webkit-input-placeholder {
    /* Chrome, Safari */
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

::-webkit-textarea-placeholder {
    /* Chrome, Safari */
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.btngroup {
    float: right;
    width: 390px;
    line-height: 10px;
    margin-left: 20px;
}

.btngroup ul li {
    float: left;
    list-style: none;
}

.post-btn,
.bell-btn,
.mail-btn,
.profile-btn,
.card-btn,
.dropbtn {
    font-size: 18px;
    color: white;
    margin-right: 35px;
}

.dropbtn {
    position: absolute;
    text-decoration: none;
    top: 21px;
    position: fixed;
}

li.dropdown {
    display: inline-block;
    position: fixed;
}

.dropdown-content {
    position: relative;
    background-color: #f9f9f9;
    min-width: 80px;
    border-radius: 12px;
    left: -50px;
    top: 31px;
    display: none;
    z-index: 1;
}

.logout {
    padding: 15px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-family: Microsoft JhengHei;
    color: rgba(0, 0, 0, 0.75);
}

.show {
    display: block;
}

.body-wrapper {
    width: 100%;
    height: 800px;
    /* 讓register-wrapper遠離topbar */
    margin-top: 48px;
    z-index: 0;
    display: inline-block;
    background-color: transparent;
}

.body-content {
    width: 1260px;
    margin: 0px 119.6px;
    margin: 0 auto;
    background-color: transparent;
    color: blanchedalmond;
    font-size: 50px;
    font-family: 微軟正黑體;
    position: relative;
}

.kanban-list {
    width: 208px;
    background-color: transparent;
}

.all-kanban-link {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: wheat;
}

.all-kanban {
    width: 198.63px;
    height: 44px;
    color: rgba(255, 255, 255, 0.7);
}

.all-kanban:hover {
    background-color: rgb(14, 41, 58);
}

.all-kanban-container {
    padding-top: 13px;
    padding-left: 20px;
}

#font {
    color: white;
    font-size: 18px;
}

.kanban-container {
    width: 208px;
}

.mylove-kanban {
    width: 179.1px;
    font-size: 14px;
    display: block;
}

.mylove {
    width: 179.1px;
    font-size: 14px;
    height: 44px;
    color: #547688;
    line-height: 50px;
    padding-left: 20px;
}

.kanban-mylove {
    width: 178.636px;
    height: 44px;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    text-decoration: none;
}

.kanban-mylove img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
}

.kanban-text {
    font-size: 16px;
    width: 179.1px;
    height: 44px;
    vertical-align: middle;
    padding-left: 20px;
}

.kanban-text:hover {
    background-color: rgb(14, 41, 58);
}

#font-1 {
    float: right;
    font-size: 20px;
    margin-top: 12px;
}

.article-wrapper {
    position: relative;
    margin-left: 200px;
    background-color: transparent;
    width: 752px;
    padding: 20px 0px 0px 0px;
}

.article-area {
    width: 648px;
    min-height: 550px;
    margin: 0px 12px;
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    font-size: 20px;
    color: black;
    padding: 40px;
}

.main-all-kanban {
    width: 606px;
    padding: 20px;
    height: 500px;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 4px;
}

.all-kanban-font {
    font-size: 14px;
    color: gray;
}

.kaban-allist {
    width: 100%;
    height: 87px;
    border-bottom: solid 1px rgb(223, 222, 222);
}

.kanban-container {
    width: 100%;
    padding-top: 20px;
}

.main-all-kanban a {
    text-decoration: none;
    color: black;
}

.kanban-allist-img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
}

.kanban-name {
    padding: 0px 20px;
    font-size: 16px;
    display: inline-block;
}

.follow {
    float: right;
    position: relative;
    top: 10px;
}