html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*For IE 6&7 only*/
}

body {
    margin: 0px;
    background-color: #00324E;
    display: block;
}

.top-bar-wrapper {
    background-color: #006AA6;
    width: 100%;
    top: 0;
    height: 48px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

.top-bar {
    width: 1260px;
    height: 100%;
    margin: auto;
    display: flex;
}

.logosearch {
    width: 880px;
    height: 100%;
    padding: 0px 16px;
    position: relative;
    left: 18px;
}

.logo {
    width: 75px;
    height: 48px;
    display: inline-block;
}

.dcard_logo img {
    margin: 0px auto;
    display: block;
    padding: 10px 0px;
}

.search-wrapper {
    width: 607px;
    height: 30px;
    padding: 0px 32px 0px 0px;
    display: inline-block;
    top: -9px;
    /* 搭配垂直置中使用 */
    position: relative;
    font-size: 14px;
}

.search {
    width: 614px;
    height: 30px;
    padding: 0px 32px;
}

.search-inp {
    width: 86%;
    height: 26px;
    border: 1px solid #00588A;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #00588A;
    position: absolute;
    top: 0px;
    font-size: 14px;
    color: white;
    font-family: Microsoft JhengHei;
    outline: none;
    padding-left: 8px;
}

.search-btn {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 593px;
    padding: 0px;
    border: 1px solid #00588A;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #006AA6;
    color: #ffffff;
    /* 輸入框樣式 */
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

 ::-webkit-input-placeholder {
    /* Chrome, Safari */
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.btngroup {
    float: right;
    width: 390px;
    line-height: 10px;
    margin-left: 20px;
}

.btngroup ul li {
    float: left;
    list-style: none;
}

.post-btn,
.bell-btn,
.mail-btn,
.profile-btn,
.card-btn,
.dropbtn {
    font-size: 18px;
    color: white;
    margin-right: 35px;
}

.dropbtn {
    position: absolute;
    text-decoration: none;
    top: 21px;
    position: fixed;
}

li.dropdown {
    display: inline-block;
    position: fixed;
}

.dropdown-content {
    position: relative;
    background-color: #f9f9f9;
    min-width: 80px;
    border-radius: 12px;
    left: -50px;
    top: 31px;
    display: none;
    z-index: 1;
}

.logout {
    padding: 15px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-family: Microsoft JhengHei;
    color: rgba(0, 0, 0, 0.75);
}

.show {
    display: block;
}

.body-wrapper {
    width: 100%;
    height: 800px;
    /* 讓register-wrapper遠離topbar */
    margin-top: 48px;
    z-index: 0;
    display: inline-block;
    background-color: transparent;
}

.body-content {
    width: 1260px;
    margin: 0px 119.6px;
    margin: 0 auto;
    background-color: transparent;
    color: blanchedalmond;
    font-size: 50px;
    font-family: 微軟正黑體;
    position: relative;
}

.kanban-list {
    width: 208px;
    height: 100%;
    background-color: transparent;
}

.all-kanban-link {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: wheat;
}

.all-kanban {
    width: 178px;
    height: 44px;
    padding: 0px 20px;
    color: rgba(255, 255, 255, 0.7);
}

#font {
    color: white;
    font-size: 18px;
}

.kanban-container {
    width: 220px;
}

.mylove-kanban {
    width: 179.1px;
    font-size: 14px;
    display: block;
}

.mylove {
    width: 179.1px;
    font-size: 14px;
    height: 44px;
    color: #547688;
    line-height: 50px;
    padding: 0px 20px;
}

.kanban-mylove {
    width: 178.636px;
    height: 44px;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
}

.kanban-mylove img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
}

.kanban-text {
    font-size: 16px;
    width: 179.1px;
    height: 44px;
}

#font-1 {
    float: right;
    font-size: 20px;
    margin-top: 12px;
}

.article-wrapper {
    position: relative;
    margin-left: 200px;
    background-color: transparent;
    width: 752px;
    height: 800px;
    padding: 20px 0px 0px 0px;
}

.article-area {
    width: 728px;
    height: 800px;
    margin: 0px 12px;
    background-color: white;
    border-radius: 4px 4px 0px 0px;
    font-size: 20px;
    color: black;
}

.stop-scrolling {
    overflow: hidden;
}

.top-div {
    width: 608px;
    height: 60px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    float: left;
}

.top-div div {
    min-width: 40px;
    min-height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    font-size: 16px;
    text-align: center;
}

.all-div:hover {
    background: rgb(250, 236, 236);
    border-radius: 14px;
}

.follow-div:hover {
    background: rgb(250, 236, 236);
    border-radius: 14px;
}

.all {
    top: 20px;
    position: relative;
    text-decoration: none;
    color: black;
}

.follow {
    top: 20px;
    position: relative;
    text-decoration: none;
    color: black;
}

.article-area hr {
    border: 0.5px solid #D9D9D9;
}