html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*For IE 6&7 only*/
}

body {
    margin: 0px;
    background-color: #00324E;
    display: block;
}

.top-bar-wrapper {
    background-color: #006AA6;
    width: 100%;
    top: 0;
    height: 48px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

.top-bar {
    width: 1260px;
    height: 100%;
    margin: auto;
    display: flex;
}

.logosearch {
    width: 880px;
    height: 100%;
    padding: 0px 16px;
    position: relative;
    left: 18px;
}

.logo {
    width: 75px;
    height: 48px;
    display: inline-block;
}

.dcard_logo img {
    margin: 0px auto;
    display: block;
    padding: 10px 0px;
}

.search-wrapper {
    width: 607px;
    height: 30px;
    padding: 0px 32px 0px 0px;
    display: inline-block;
    top: -9px;
    /* 搭配垂直置中使用 */
    position: relative;
    font-size: 14px;
}

.search {
    width: 614px;
    height: 30px;
    padding: 0px 32px;
}

.search-inp {
    width: 86%;
    height: 26px;
    border: 1px solid #00588A;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #00588A;
    position: absolute;
    top: 0px;
    font-size: 14px;
    color: white;
    font-family: Microsoft JhengHei;
    outline: none;
    padding-left: 8px;
}

.search-btn {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 593px;
    padding: 0px;
    border: 1px solid #00588A;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #006AA6;
    color: #ffffff;
    /* 輸入框樣式 */
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

 ::-webkit-input-placeholder {
    /* Chrome, Safari */
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.btngroup {
    float: right;
    width: 390px;
    line-height: 10px;
    margin-left: 20px;
}

.btngroup ul li {
    float: left;
    list-style: none;
}

.post-btn,
.bell-btn,
.mail-btn,
.profile-btn,
.card-btn,
.dropbtn {
    font-size: 18px;
    color: white;
    margin-right: 35px;
}

.dropbtn {
    position: absolute;
    text-decoration: none;
    top: 21px;
    position: fixed;
}

li.dropdown {
    display: inline-block;
    position: fixed;
}

.dropdown-content {
    position: relative;
    background-color: #f9f9f9;
    min-width: 80px;
    border-radius: 12px;
    left: -50px;
    top: 31px;
    display: none;
    z-index: 1;
}

.logout {
    padding: 15px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-family: Microsoft JhengHei;
    color: rgba(0, 0, 0, 0.75);
}

.show {
    display: block;
}

.body-wrapper {
    width: 100%;
    height: 800px;
    /* 讓register-wrapper遠離topbar */
    margin-top: 48px;
    z-index: 0;
    display: inline-block;
    background-color: transparent;
}

.body-content {
    width: 1260px;
    margin: 0px 119.6px;
    margin: 0 auto;
    background-color: transparent;
    color: blanchedalmond;
    font-size: 50px;
    font-family: 微軟正黑體;
    position: relative;
}

.kanban-list {
    width: 208px;
    height: 100%;
    background-color: transparent;
}

.all-kanban-link {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: wheat;
}

.all-kanban {
    width: 178px;
    height: 44px;
    padding: 0px 20px;
    color: rgba(255, 255, 255, 0.7);
}

#font {
    color: white;
    font-size: 18px;
}

.kanban-container {
    width: 220px;
}

.mylove-kanban {
    width: 179.1px;
    font-size: 14px;
    display: block;
}

.mylove {
    width: 179.1px;
    font-size: 14px;
    height: 44px;
    color: #547688;
    line-height: 50px;
    padding: 0px 20px;
}

.kanban-mylove {
    width: 178.636px;
    height: 44px;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
}

.kanban-mylove img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
}

.kanban-text {
    font-size: 16px;
    width: 179.1px;
    height: 44px;
}

#font-1 {
    float: right;
    font-size: 20px;
    margin-top: 12px;
}

.article-wrapper {
    position: relative;
    margin-left: 200px;
    background-color: transparent;
    width: 752px;
    height: 800px;
    padding: 20px 0px 0px 0px;
}

.article-area {
    width: 728px;
    min-height: 550px;
    margin: 0px 12px;
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    font-size: 20px;
    color: black;
}

.stop-scrolling {
    overflow: hidden;
}

.top-div {
    width: 608px;
    height: 60px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    float: left;
    z-index: 2;
    border-bottom: 1px solid rgb(238, 226, 226);
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.top-div div {
    min-width: 40px;
    min-height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    font-size: 16px;
    text-align: center;
}

.all-div:hover {
    background: rgb(250, 236, 236);
    border-radius: 14px;
}

.follow-div:hover {
    background: rgb(250, 236, 236);
    border-radius: 14px;
}

.all {
    top: 20px;
    position: relative;
    text-decoration: none;
    color: black;
}

.follow {
    top: 20px;
    position: relative;
    text-decoration: none;
    color: black;
}

.article-area hr {
    border: 0.5px solid #D9D9D9;
}

.sticky {
    width: 608px;
    height: 60px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    float: left;
    position: fixed;
    top: 48px;
}

#line {
    width: 726px;
    position: absolute;
    left: 12px;
    top: 90px;
}

.sticky-line {
    width: 726px;
    position: absolute;
    left: 0px !important;
    top: 70px !important;
}

.post-space {
    width: 728px;
    height: 80px;
}

#post-zone {
    /*	margin-left: 100px;
    margin-right: 100px;*/
    height: 157px;
}

.post {
    width: 648px;
    height: 100%;
    margin: 0 auto;
}

.top {
    height: 25px;
    padding-top: 15px;
    width: 608px;
    margin: 0 auto;
    display: inline-block;
}

.sex {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.kanban {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    color: #606160;
}

.college {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    color: #606160;
}

.title {
    width: 608px;
    height: 24px;
    padding-top: 10px;
    color: black;
    font-size: 18px;
}

.content {
    width: 608px;
    height: 20px;
    padding-top: 10px;
    color: black;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
}

.bottom {
    width: 608px;
    height: 20px;
    display: inline-block;
    padding-top: 10px;
    padding-left: 2px;
    vertical-align: middle;
}

.good {
    width: 70px;
    height: 20px;
    display: inline-block;
}

.comment {
    width: 200px;
    height: 20px;
    color: rgb(161, 158, 158);
    font-size: 14px;
    display: inline-block;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    overflow-x: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-right: 20px;
    overflow: hidden;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 728px;
    height: 100%;
    box-shadow: none;
    overflow-y: auto;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content header {
    width: 608px;
    height: 40px;
    padding: 40px 60px 22px 60px;
}

.modal-content header img {
    width: 40px;
    height: 40px;
    background: rgb(144, 177, 240);
    border-radius: 50%;
    vertical-align: middle;
}

.modal-college {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    padding-left: 10px;
    color: #606160;
}

.article-title {
    font-size: 28px;
}

.article-body {
    width: 608px;
    padding: 0px 60px 0px 60px;
}

.article-type-div {
    height: 16px;
    font-size: 14px;
    margin-top: 12px;
}

.time {
    display: inline-block;
    color: rgb(179, 157, 179);
}

.article-type-div a {
    text-decoration: none;
    color: rgb(147, 147, 241);
}

.atricle-span {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    color: rgb(88, 87, 87);
}

.heart-area {
    width: 608px;
    height: 36px;
}

.heart-area img {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

.heart-count {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding-left: 4px;
    color: rgb(156, 134, 134);
}

.heart {
    padding-top: 4px;
    float: right;
    margin-right: 50px;
    vertical-align: middle;
    color: rgb(207, 207, 207);
    cursor: pointer;
}

.heart:hover {
    color: rgb(255, 66, 66);
}

.heart-click {
    color: rgb(255, 66, 66);
}

.hearted {
    float: right;
    margin-right: 50px;
    color: rgb(207, 207, 207);
    cursor: pointer;
    vertical-align: middle;
    display: none;
}

.hearted img {
    width: 24px;
    height: 24px;
}

.article-comment {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding-left: 4px;
    color: rgb(156, 134, 134);
}

.comment-area {
    width: 728px;
    padding: 40px 0px;
    background-color: rgb(253, 242, 242);
}

.all-comment-container {
    padding: 0px 60px;
    width: 608px;
    height: 26.6px;
    color: rgb(122, 103, 103);
    font-size: 16px;
}

.all-comment {
    border-bottom: 1px solid rgb(238, 224, 224);
    padding-bottom: 6px;
}

.comment-area-container {
    width: 608px;
    height: 121px;
    padding: 0px 60px;
}

.comment-area-comment {
    width: 608px;
    height: 88px;
    padding: 16px 0px;
    border-bottom: 1px solid rgb(238, 224, 224);
}

.comment-area-top {
    width: 608px;
    height: 40px;
    display: inline-block;
}

.comment-area-top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(144, 177, 240);
    display: inline-block;
}

.comment-college-time {
    display: inline-block;
    width: 500px;
    height: 37.6px;
    padding-left: 4px;
}

.comment-college {
    display: inline-block;
    font-size: 16px;
    color: rgb(61, 61, 61);
}

.comment-time {
    font-size: 14px;
    color: rgb(122, 103, 103);
}

.comment-body {
    padding-top: 20px;
    width: 608px;
    font-size: 16px;
    color: rgb(61, 61, 61);
}