body {
    margin: 0px;
    background-color: #00324E;
    display: block;
}

.top-bar-wrapper {
    background-color: #006AA6;
    width: 100%;
    top: 0;
    height: 48px;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
}

.top-bar {
    width: 1280px;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 0px 20px;
}

.logosearch {
    width: 880px;
    height: 100%;
    padding: 0px 16px;
    position: relative;
    margin-left: 18px;
}

.logo {
    width: 75px;
    height: 48px;
    display: inline-block;
}

.dcard_logo img {
    margin: 0px auto;
    display: block;
    padding: 10px 0px;
}

.search-wrapper {
    width: 607px;
    height: 30px;
    padding: 0px 32px 0px 0px;
    display: inline-block;
    top: -9px;
    /* 搭配垂直置中使用 */
    position: relative;
    font-size: 14px;
}

.search {
    width: 614px;
    height: 30px;
    padding: 0px 32px;
}

.search-inp {
    width: 550px;
    height: 26px;
    border: 1px solid #00588A;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #00588A;
    position: absolute;
    top: 0px;
    font-size: 14px;
    color: white;
    font-family: Microsoft JhengHei;
    outline: none;
    margin-left: 0px;
    padding-left: 8px;
}

.search-btn {
    width: 39px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 594px;
    padding: 0px;
    border: 1px solid #00588A;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #006AA6;
    color: #ffffff;
    /* 輸入框樣式 */
    outline: none;
    font-size: 13px;
    cursor: pointer;
    border-left: none;
}

 ::-webkit-input-placeholder {
    /* Chrome, Safari */
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.register-div {
    padding-top: 15px;
    margin-left: 200px;
}

.register {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.register-wrapper {
    width: 100%;
    height: 800px;
    /* 讓register-wrapper遠離topbar */
    margin-top: 48px;
    display: inline-block;
}

.show-content {
    width: 1140px;
    height: 876px;
    padding: 50px 0px;
    margin: auto;
    display: flex;
}

.img-content {
    padding-top: 80px;
    width: 356px;
    height: 696px;
    margin-left: 108px;
}

.img-content img {
    display: block;
    cursor: zoom-in;
    object-fit: cover;
    max-width: 100%;
    max-height: 60vh;
    height: 250px;
    margin: auto;
}

.img-content h1 {
    color: rgb(255, 255, 255);
    font-size: 31px;
    line-height: 45px;
    margin: 21.44px 0px 0px;
    font-family: Microsoft JhengHei;
}

.img-content p {
    color: white;
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: Microsoft JhengHei;
    margin: 0px 0px 20px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 36px;
}

.img-content a {
    display: block;
    text-align: center;
    font-family: Microsoft JhengHei;
    margin: 0px 0px 20px;
    color: #3397CF;
    margin-top: 30px;
}

.register-content-wrapper {
    width: 460px;
    height: 798.8px;
    background-color: white;
    border-radius: 5px;
    margin: 0px auto;
}

.register-content {
    width: 360px;
    height: 595.2px;
    padding: 30px 50px;
    display: block;
}

.start-use {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    font-family: Microsoft JhengHei;
}

.register-area {
    width: 360px;
    height: 540px;
    text-align: center;
    font-family: Microsoft JhengHei;
}

.register-btn {
    display: block;
    height: 166px;
    width: 360px;
    font-family: Microsoft JhengHei;
}

.fb-register {
    font-size: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    width: 360px;
    height: 42px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 0px 16px;
    background: rgb(66, 95, 156);
    text-align: center;
    font-family: Microsoft JhengHei;
}

.google-register {
    font-size: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: black;
    width: 360px;
    height: 42px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 0px 16px;
    background: white;
    text-align: center;
    margin-top: 20px;
    border-color: #D9D9D9;
    font-family: Microsoft JhengHei;
}

.apple-register {
    font-size: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: white;
    width: 360px;
    height: 42px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 0px 16px;
    background: black;
    text-align: center;
    margin-top: 20px;
    font-family: Microsoft JhengHei;
}

.use-fb {
    text-align: center;
    flex: 1 1 0%;
    padding: 12px;
    font-family: Microsoft JhengHei;
}

.use-google {
    text-align: center;
    flex: 1 1 0%;
    padding: 12px;
    font-family: Microsoft JhengHei;
}

.use-apple {
    text-align: center;
    flex: 1 1 0%;
    padding: 12px;
    font-family: Microsoft JhengHei;
}

.line {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #D4A6A6;
    margin: 20px 0px;
    height: 16px;
}

.line hr {
    border: 1px solid #D9D9D9;
}

.input-area {
    height: 305.111px;
}

.input-area form {
    height: 305.200px;
}

.email {
    height: 92.800px;
    margin-bottom: 20px;
    text-align: left;
}

.often-email-border {
    width: 360px;
    height: 92.800px;
}

.often-email {
    width: 360px;
    height: 16px;
    margin-bottom: 10px;
}

.email-input {
    width: 364px;
    height: 44px;
}

.email-border {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 336px;
    height: 42px;
    padding: 0px 13px;
    font-size: 15px;
}

.mustwrite-1 {
    margin-top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: rgb(234, 92, 92);
    padding: 0px 14px;
}

.password {
    height: 124.40px;
    margin-bottom: 20px;
    text-align: left;
}

.often-password {
    width: 360px;
    height: 16px;
    margin-bottom: 10px;
}

.often-password-border {
    width: 360px;
    height: 92.800px;
}

.password-input {
    width: 364px;
    height: 44px;
    font-family: Microsoft JhengHei;
}

.password-border {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 336px;
    height: 42px;
    padding: 0px 13px;
    font-size: 15px;
}

.mustwrite-2 {
    margin-top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: rgb(234, 92, 92);
    padding: 0px 14px;
}

.show-password-area {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.show-password {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 0px 8px;
    font-size: 16px;
}

.notgetvalidation {
    color: rgb(51, 151, 207);
    font-size: 14px;
    cursor: pointer;
    width: 84px;
    height: 14px;
    line-height: 1.15;
    margin-left: 96px;
}

.or {
    line-height: 1.5px;
    margin: 0px 5px;
}

.forget-passowrd {
    color: rgb(51, 151, 207);
    font-size: 14px;
    cursor: pointer;
    width: 56px;
    height: 14px;
    line-height: 1.15;
}

.alert-message {
    margin-top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: rgb(234, 92, 92);
    padding: 0px 14px;
}

.login-submit {
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
    height: var(--button-size-customized, var(--button-size));
    line-height: var(--button-size-customized, var(--button-size));
    --button-size: 44px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    outline: none;
    text-decoration: none;
    padding: 0px 1em;
    border-style: none;
    border-radius: 10px;
    width: 360px;
    background: rgb(223, 223, 223);
}

.bottom-background {
    height: 145px;
    width: 460x;
    background: rgb(239, 239, 239);
}

.dialog {
    font-family: 微軟正黑體;
    border: none;
    border-radius: 14px;
    position: fixed;
    padding: 40px 40px 24px 40px;
    width: 320px;
    height: 193.2px;
}

.dialog p {
    font-size: 25px;
    text-align: center;
    padding: 0px 0px 12px 0px;
    margin: 0px;
}

.dialog input {
    width: 292px;
    height: 42px;
    padding: 0px 13px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    margin-top: 8px;
}

.btn {
    padding: 5px;
    float: right;
}

.btn button {
    background-color: white;
    border: none;
    font-size: 20px;
    font-family: 微軟正黑體;
    color: #D9D9;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}